@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Inter:wght@300&family=Montserrat:wght@200&family=Nanum+Gothic&family=Nunito+Sans:opsz,wght@6..12,300&family=Oswald&family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap');
.head
{
background-size: 100% 100%;
height: auto;
background-color: #f8f8f8;
}
.logo img
{
width: 75%;
margin: 15px 35px;
}
.menu
{
display: inline-flex;
list-style: none;
font-size: 18px;
float: right;
margin: 15px 0px;
font-family: 'Nanum Gothic', sans-serif;
font-weight: 600;

}
.menu li
{
padding: 24px 22px;
font-family: 'Nanum Gothic', sans-serif;

}
.menu li a:hover
{
color: black;
font-size: 18px;
transition: 0.3s ease-in-out;
}
.menu li a 
{
text-decoration: none;
color: red;
}
.search
{
margin: 15px 0px;
padding: 12px 15px;
display: flex;
}
.search input{
width: 330px;
padding: 10px 20px;
border: 0.5px solid #ccc;
border-bottom-left-radius: 40px;
border-top-left-radius: 40px;
font-size: 18px;
}
.search  button{
border: none;
padding: 13px 10px 9px 20px;
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
}
.search button img
{
margin-right: 20px;
margin-bottom: 4px;
}
.second
{
background-color: rgb(47, 47, 153);
}
.category ul
{
display: inline-flex;
list-style: none;
color: white;
font-size: 17px;
text-transform: uppercase;
margin: 15px 126px;
font-family: 'Nanum Gothic', sans-serif;
font-weight: 600;

}
.category li
{
padding: 14.5px 33px;
font-family: 'Nanum Gothic', sans-serif;
}
.category li .first
{
color: white;
background-color: red;
padding: 34px;
}
.category li a
{
color: red;
text-decoration: none;
}
.category li a:hover
{
color: #fff;
}
.third
{
background-color: rgb(64, 187, 236);
}
.thirdrow{
padding: 5%;
}
.thirdrow img
{
width: 100%;
border: 2px solid rgb(47, 47, 153);
border-radius: 25px;
box-shadow: 0px 0px 10px 10px #377dac;
}
.thirdrow .text 
{
font-family: 'Nanum Gothic', sans-serif;
margin: 7%;
text-transform: uppercase;
}
.thirdrow .text h1
{
font-weight: 900;
color: #ffffff;
font-size: 3.2rem;
}
.thirdrow .text hr 
{
width: 30%;
border: 2px solid #fff;
}
.thirdrow .text p{
color: #fff;
text-transform: capitalize;
font-size: 20px;
}
.thirdrow .text button
{
padding: 10px;
border: none;
background: red;
color: #fff;
font-weight: 600;
transition: 0.1s ease-in-out;
}
.thirdrow .text button:hover 
{
opacity: 0.8;
transition: 0.1s ease-in-out;
transform: scale(1.2);
}
.four img
{
width: 80%;
margin: 12%;
}
.four .express
{
margin-top: 14%;
}
.four .ebay
{
margin-top: 8%;
}
.five
{
background-color: #f8f8f8;
}
.five .text
{
background-color: rgb(47, 47, 153);
font-family: 'Nanum Gothic', sans-serif;
padding: 15%;
border-radius: 20px;
margin-top: 5.5%;
}
.five .text h1
{
font-weight: 900;
color: #ffffff;
font-size: 2.8rem;
line-height: 1.5;
}
.five .text p{
text-transform: capitalize;
font-size: 20px;
margin-top: 12%;
color: rgb(47, 47, 153);
font-weight: 600;
}
.five .text i
{
margin-left: 8%;
}
.five .text button
{
border: none;
width: 50%;
margin-top: 8%;
border-radius: 20px;
}
.five .text button:hover 
{
opacity: 0.8;
transition: 0.1s ease-in-out;
transform: scale(1.1);
}
.cards
{
margin: 10%;
margin-top: 13%;
}
.cards p{
padding: 10px;
text-align: center;
margin-top: 10px;
font-size: 18px;
text-transform: capitalize;
color: rgb(47, 47, 153);
}
.cards i 
{
margin-right: 10px;
}
.six
{
background-color: #f8f8f8;
padding-top: 6%;
padding-bottom: 6%;
}
.six p
{
font-size: 18px;
font-weight: 700;
}
.six .icons
{
float: right;
}
.six .icons i
{
margin: 10px;
}
.six img
{
width: 100%;
}
.six .deal
{
width: 110%;
}
.cards:hover
{
box-shadow: 0px 0px 10px 10px #268ed3;
}
.six img:hover 
{
opacity: 0.8;
transition: 0.1s ease-in-out;
transform: scale(1.1);
}